*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #efefef;
    width: 50%;
    margin: 150px auto;
    font-family: 'Poppins';
}

.form-div{
    width: 75%;
    margin: 15px auto;
    background-color: white;
    border-radius: 10px;
}

form{
    width: 60%;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
}

label{
    font-size: 15px;
}

form input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-indent: 10px;
    font-size: 16px;
}

/* for hiding the arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.enter{
    width: 100%;
    background-color: #212121;
    padding: 8px 15px;
    font-size: 17px;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.enter:hover{
    background-color: #00FF00;
    color: #212121;
}

.inner{
    padding: 30px;
}

table{
    width: 80%;
    padding: 100px;
    margin: auto;
    border-collapse: collapse;
}

td, th{
    height: 40px;
    border: 1px solid black;
}

th{
    background-color: #212121;
    color: white;
}

td{
    padding-left: 10px;
}

th{
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}