<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <!-- Nav Bar -->
    <nav>
        <div>
            <ul>
                {% if(5 == 5) %}
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Logout</a></li>
                {% else %}
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="nav-center-div">
            <img src="{{ url_for('static', filename='images/24-hours-support.png') }}" class="nav-logo" >
            <a class="normal">Customer Care Registry</a class="normal">
        </div>
        <div>
            <a class="normal">IBM Nalaiyathiran</a class="normal">
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>